<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>347982187591-lmufuilc006vbtbh8910qi5tp95itg85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347982187591-lmufuilc006vbtbh8910qi5tp95itg85</string>
	<key>API_KEY</key>
	<string>AIzaSyC4jaHSoEBxjxOItdTlyHsaaSBTM4IjLjk</string>
	<key>GCM_SENDER_ID</key>
	<string>347982187591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hanif.jah-v2</string>
	<key>PROJECT_ID</key>
	<string>jah-test-1ce77</string>
	<key>STORAGE_BUCKET</key>
	<string>jah-test-1ce77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:347982187591:ios:d1a519354f06990a</string>
	<key>DATABASE_URL</key>
	<string>https://jah-test-1ce77.firebaseio.com</string>
</dict>
</plist>